#formulario {
    color: #fff;
    padding: 15px;

    label,
    input,
    option {
        font-family: 'roboto', sans-serif;

    }
}

#mapa {
    background: transparent;
    width: 100%;

    iframe {
        height: 350px;
        padding: 8px;
    }
}

@media (min-width:768px) {
    #formulario {
        padding: 50px 100px 40px 100px;
    }

    #mapa {
        width: 100%;

        iframe {
            height: 430px;
            padding: 10px;
        }
    }
}

@media (min-width:1200px) {
    #formulario {
        padding: 50px 450px 40px 450px;
    }

    #mapa {
        width: 100%;

        iframe {
            height: 430px;
            padding: 50px 350px 40px 350px;
        }
    }
}