@mixin bg-pages ($img-fondo) {
    background: $img-fondo;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@mixin skill-text ($txt-z) {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: $txt-z;

}

@mixin skill-title ($title-size) {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: $title-size;

}