//imports
@import "_commons";
@import "_mixins";
@import "_noticias";
@import "_contacto";
@import "_multimedia";
@import "_navbar";
@import "../node_modules/bootstrap/scss/bootstrap";


@font-face {
    font-family: "letra piola";
    src: url(../fonts/ElementalEnd/ElementalEnd.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "letra piola", 'Orbitron', sans-serif;
    font-size: 15px;
}

.bg-index {
    @include bg-pages(url(../img/bg-universo.jpg))
}

.bg-news {
    @include bg-pages(url(../img/bg-star.webp))
}

.bg-work {
    @include bg-pages(url(../img/bg-star.webp));
}

.bg-multimedia {
    @include bg-pages(url(../img/bg-universo.jpg))
}

.bg-contact {
    @include bg-pages(url(../img/bg-universo.jpg))
}

// ---- inicia footer -----
.iconos img {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 10px;
}

// ---- termina footer -----
// --------------------inicia multimedia --------------------------
.card-img-overlay {
    font-size: 1rem;
    top: 20%;
    text-align: center;

    @media (min-width:768px) {
        top: 50%;
    }

    @media (min-width:1200px) {
        top: 50%;
    }
}


// --------------------termina multimedia-------------------------
// inicia trabaja con nosotros
.titulo-pagina {
    font-size: 3rem;
}

.contenedor-trabajos {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px 0;
    display: flex;
    gap: 20px;
}

.trabajo1 {
    background-color: #394651;
    width: 300px;
    height: 300px;
    border-radius: 10px;

    h3 {
        text-decoration: underline;
        font-weight: 200;
        letter-spacing: 5px;
        margin: 10px;
        color: #bcccdb;
        font-size: 1rem;
    }

    p {
        margin: 10px;
        color: #b5b7b7;
    }
}

.categorias-trabajo {
    display: block;
    font-size: 1.5rem;
    position: relative;
    text-decoration: underline;
    font-weight: 200;
    letter-spacing: 5px;
    margin: 50px 0px 0px 300px;
    color: #d9e7f5;
}

//termina trabaja con nosotros
.card-text {
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
}

#img-card {
    border-radius: 0;
    border: 0;
    background: transparent;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
}

.carousel-inner {
    max-height: 34rem;

}

#title h1 {
    color: #3891d9;
}

.vid-work {
    position: relative;
    width: 100%;
}

.vid-work-container {
    position: absolute;
}



#works div {

    border-radius: 0;
    border: 0;
    background: transparent;
    color: #f3f3f3;

    h5 {
        font-family: 'roboto', sans-serif;
    }

    small {
        font-family: 'roboto', sans-serif;
    }
}